
:root {
    --dark: #1b1717;
    --light: #f5ebeb;
    --orange: #dd8a1c;
    --border-radius: 6px;
    --font: "Open Sans", Arial;
  }


body {
    background-color: var(--light);
    overflow: auto;
    font-family: "Open Sans", Arial;
}

main {
    margin: 15px;
    color: var(--orange);
}
  
  /* Displaying header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark);
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 100;
}
  /* setting logo parameters */
.logo {
    padding-left: 20px;
    background-color: var(--orange);
}

.logo img {
    height: 4em;

}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    padding-top: 80px;
    background-image: url("../images/subtitle-image.png"); 
    background-size: cover;
    background-position: center;
    color: var(--light);
    position: relative;
}

.hero-text {
    float: left;
    position: absolute;
    right: 0px;
    bottom: 50px;
    padding: 0px 30px 0px 30px;
    background-color: var(--orange);
}

.hero h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: .1em;
}

.hero h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  
header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
}
  
header nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid var(--orange);

}
  
header nav li a {
    text-decoration: none;
    color: var(--light);
}

.row {
    padding-top: 150px;
    margin-top: -150px;
}
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 0px 10px 10px 10px;
   /* height: 300px;  Should be removed. Only for demonstration */
  }
  
.left {
    width: 20%;
    text-align: right;
    font-size: 150%;
    vertical-align: top;
  }
  
.right {
    width: 75%;
    border-left: 6px solid var(--dark);
  }
  
.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

/* Images under the work banner */
.work-image {
    display: inline-block;
    font-family: "Open Sans", Arial;
    font-size: 20px;
    color: var(--light);
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    margin: 6px;
    border: 3px solid var(--dark);
    position: relative;
    text-align: center;
  }
  
.work-image:first-child {
    width: 100%;
  }
  
.work-image:not(:first-child) {
    flex: 1;
  }

.work-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    opacity: .8;
  }

.text-tag {
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color: var(--orange);
    padding: 10px;
  }

.work-image img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 10px 10px 5px #888888;
    opacity: 1;
  }

#resume .right img {
    height: 300px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 10px;
  }

.right nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px;
}
  
.right nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}
  
.right nav li a {
    color: var(--dark);
    text-decoration: none;
    border-bottom: var(--orange) 3px solid;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--font);
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
}


.footer h2 {
    font-size: 20px;
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 965px) {
    header {
      flex-direction: column;
      justify-content: center;
    }

    .hero-text {
        font-size: 80%;
    }
    .work {
        flex-direction: column;

    }

    .work-image {
        margin-left: 0px;
        width: 100%;
    }

    .work-image img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        opacity: .8;
      }
    
    .right nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px;
    }
    .left {
        width: 100%;
        text-align: center;
        vertical-align: top;
      }
    
    .right {
        border-left: none;
        border-top: 6px solid var(--dark);
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    
  }
  
  