
:root {
    --dark: #1b1717;
    --light: #f5ebeb;
    --orange: #dd8a1c;
    --border-radius: 6px;
    --font: "Open Sans", Arial;
  }


body {
    background-color: var(--light);
    overflow: auto;
    font-family: var(--font);
    margin: 15px;
}

main {
    color: var(--orange);
}

h2 {
    color: var(--dark);
}

/* Displaying header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark);
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 100;
}
/* setting logo parameters */
.logo {
    padding-left: 20px;
    background-color: var(--orange);
}

.logo img {
    height: 4em;

}

/* Set hero image size */

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    padding-top: 80px;
    background-image: url("../images/subtitle-image.png"); 
    background-size: cover;
    background-position: center;
    color: var(--light);
    position: relative;
}

/* Float text over the hero image - set size and style  */

.hero-text {
    float: left;
    position: absolute;
    right: 0px;
    bottom: 50px;
    padding: 20px 30px 20px 30px;
    background-color: var(--orange);
}

.hero h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1em;
}

.hero h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header navigation */
  
header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
}
  
header nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid var(--orange);

}
  
header nav li a {
    text-decoration: none;
    color: var(--light);
}

.row {
    padding-top: 150px;
    margin-top: -150px;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 0px 10px 10px 10px;
   }
  
.left {
    width: 20%;
    text-align: right;
    font-size: 100%;
    vertical-align: top;
  }
  
.right {
    width: 75%;
    border-left: 6px solid var(--dark);

  }

  /* Images under the work banner - flexbox styling*/
.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}


.work-image {
    display: inline-block;
    font-family: var(----font);
    font-size: 20px;
    color: var(--light);
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    margin: 6px;
    border: 3px solid var(--dark);
    position: relative;
    text-align: center;
  }
  
.work-image:first-child {
    width: 100%;
  }
  
.work-image:not(:first-child) {
    flex: 1;
  }

.work-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    opacity: .8;
  }

.text-tag {
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color: var(--orange);
    padding: 10px;
  }

.work-image img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 10px 10px 5px #888888;
    opacity: 1;
  }

#resume .right img {
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 10px;
  }

/* Styling of contact information*/
.right nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px;
}
  
.right nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}
  
.right nav li a {
    color: var(--dark);
    text-decoration: none;
    border-bottom: var(--orange) 3px solid;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--font);
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
}


.footer h2 {
    font-size: 20px;
    color: var(--light);
}

/*Determined the break point is ~965 so I set media to adjust there*/

@media screen and (max-width: 965px) {
    /* Changed the header to flex column so the logo appears over the nav bar */
    header {
      flex-direction: column;
      justify-content: center;
    }
    
    /* adjusted the nav text to fit the smaller screen */
    header nav li {
        font-size: 100%;
        font-weight: bold;
        border-bottom: 3px solid var(--orange);
    
    }

    /* adjusted the hero height so as not to take up too much real estate */
    .hero {
        height: 200px;
    }
    /* Adjusted the text on the hero image to fit */
    .hero-text {
        font-size: 65%;
        padding: 10px 20px 10px 20px;

    }

    /* The work images needed to be adjusted to column */
    .work {
        flex-direction: column;
    }

    /* Adjusted the work image to fit correctly in the smaller frame */
    .work-image {
        margin-left: 0px;
        width: 100%;
    }
    
    /* moved the vertical rule to horizontal */
    .right {
        border-left: none;
        border-top: 6px solid var(--dark);
        text-align: center;
        width: 100%;
        padding: 0px;
        color: var(--dark);
    }

    /* adjusted the nav sizing */
    .right nav ul {
        width: 100%;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px;
    }
    .left {
        width: 100%;
        text-align: center;
        vertical-align: top;
      }


    
  }
  
